<%- layout("/layouts/boilerPlate") %>

<div class="row">
    <div class="col-8 offset-2">
        <br>
        <h3>LogIn</h3>
        <br>
        <form  method="POST" action="/login" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-lable">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-lable">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button class="btn btn-light">LogIn</button>
        </form>
    </div>
</div>